
.header{
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  border: 1ps solid tomato;
}
.test{
  padding: 300px;
  height: 2000px;
  background-color: beige;
}
#test{
  opacity: 0;
  transition: 1s;
}