
.header{
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  border: 1ps solid tomato;
}
.test{
  padding: 300px;
  height: 2000px;
  font-size: 30px;
  background-color: beige;
  
}
.text01{
  width: auto;
  transition: 1s;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  &::before{
    content: "「";
    display: inline-block;
    opacity: 1;
    position: absolute;
    right: 50%;
    transition: 0.6s ease-out;
    transform: translateX(50px);
   
  }
  &::after{
    content: "」";
    display: inline-block;
    opacity: 1;
    position: absolute;
    left: 50%;
    transition: 0.6s ease-out;
    transform: translateX(-50px);
  }
  .innerText{
    opacity: 0;
    transition: 2s;
   
  }
}
.text02{
  width: auto;
  &::before{
    content: "「";
    opacity: 1;
    right: auto;
    transform: translateX(-200%);
  }
  &::after{
    content: "」";
    opacity: 1;
    left: auto;
    right: 0;
    transform: translateX(200%);
    
  }
  .innerText{
    opacity: 1;
   
  }
}

